body {
  justify-content: center;
  align-items: flex-start; /* Alinha no topo */
  height: 100vh;          /* Altura total da janela */
  margin: 0;              /* Remove margens padrão */
}

.container {
  text-align: center;      /* Centraliza o texto dentro do contêiner */
}

.titulo {
  margin-top: 40px;        /* Ajuste conforme necessário */
}

.paragrafo {
  text-align: left; /* Alinha o parágrafo à esquerda */
  margin-top: 20px; /* Adiciona espaço acima do parágrafo */
}

